.site-branding {
  float: left;
  padding-left: 10px;
  position: relative;
  z-index: 1;

  a {
    color: $color__text-main;
    text-decoration: none;

    &:visited,
    &:hover,
    &:active,
    &:focus {
      color: $color__text-main;
      text-decoration: underline;
    }
  }
}

.site-title {
  font-size: 1em;
  font-weight: 700;
  line-height: 50px;
  margin: 0;
  text-transform: uppercase;
}

.site-description {
  display: none;
}
