/*
 * Vertical Centering
 */
 
.center-vertical-wrap {
    position: relative;
}

.center-vertical {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

/*
 * Aspect-Ratio-Aware Fluid Objects
 */

.object-fluid {
    height: 0;
    position: relative;
}

a.object-fluid {
    display: block;
}

.object-fluid--16x9 {
    padding-bottom: 56.25%;
}

.object-fluid--4x3 {
    padding-bottom: 75%;
}

.object-fluid--1x1 {
    padding-bottom: 100%;
}

.object-fluid img,
.object-fluid iframe,
.object-fluid video,
.object-fluid object {
    height: 100%; 
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}
