.section-notifications {
  display: inline-block;
  height: 40px;
  left: 50%;
  position: fixed;
  text-align: center;
  transform: translateX(-50%);
  top: 0;
  width: auto;
  vertical-align: middle;
  z-index: 15;

  .notification-wrap {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    overflow-y: visible;
    vertical-align: middle;
    width: auto;
  }

  .notification {
    background-color: #dff0d8;
    color: #000;
    font-size: 14px;
    line-height: 40px;
    margin: 0;
    opacity: 0;
    padding: 0 14px;
    transition: opacity 1s ease;
    text-transform: capitalize;

    &.notification--visible {
      opacity: 1;
    }

    &.notification--removing {
      opacity: 0;
    }

    & + .notification {
      margin-top: 5px;
    }
  }
}
