.main-navigation {
	// clear: both;
	display: block;
	position: relative;
	// width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		display: block;
		// float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		font-weight: 700;
		line-height: 50px;
		text-decoration: none;
		text-transform: uppercase;
		padding: 0 10px;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.menu-toggle {
	background: transparent;
	border: none;
	border-bottom: 1px solid $color__text-main;
	border-left: 1px solid $color__text-main;
	border-radius: 0;
	cursor: pointer;
	font-weight: 700;
	height: 50px;
	line-height: 50px;
	padding: 0 10px;
	position: absolute;
	right: 0;
	text-align: center;
	text-transform: uppercase;
	top: 0;

	&:hover,
	&:focus {
		background-color: $color__background-button;
		border-color: $color__text-main;
		transition: background-color 0.2s;
	}
}

.main-navigation.toggled ul {
	background-color: #fff;
	clear: both;
	position: relative;
	z-index: 1;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}

	.main-navigation {
		float: right;
		padding-right: 10px;
	}

	.main-navigation .nav-menu {
		text-align: right;
	}

	.main-navigation .nav-menu > li {
		float: none;
    display: inline-block;
    line-height: 50px;
    margin-left: 10px;
	}

	.main-navigation ul {
		display: block;
	}

	.main-navigation a {

	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
