.dialog__overlay {
  background-color: #ffffff;
  height: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  transition: opacity 200ms;
  top: 0;
  visibility: hidden;
  width: 0;
  z-index: -1;

  &--visible {
    opacity: 0.9;
    bottom: 0;
    height: 100%;
    right: 0;
    visibility: visible;
    width: 100%;
    z-index: 9998;
  }

  &--removing {
    opacity: 0;
    bottom: 0;
    height: 100%;
    right: 0;
    visibility: visible;
    width: 100%;
    z-index: 9998;
  }
}

.dialog__confirm-action {
  background-color: #ffffff;
  border: 1px solid #333;
  height: 0;
  left: 0;
  max-width: 300px;
  opacity: 0;
  padding: 20px;
  position: fixed;
  text-align: center;
  transition: opacity 200ms;
  top: 0;
  visibility: hidden;
  width: 0;
  z-index: -1;

  &--visible {
    opacity: 1;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    visibility: visible;
    width: 100%;
    z-index: 9999;
  }

  &--removing {
    opacity: 0;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    visibility: visible;
    width: 100%;
    z-index: 9999;
  }

  & .button-group {
    margin-bottom: 0;
  }
}

